* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* cores Primarias */
    --green-500: hsl(171, 66%, 44%);
    --blue-100: hsl(233, 100%, 69%);
    --white: #fff;
    /* cores neutras */
    --gray-700: hsl(210, 10%, 33%);
    --gray-500: hsl(201, 11%, 66%);
    /* fonte */
    --ff: "Bai Jamjuree", sans-serif;
}

body {
    background-image: url(/img/bg-header-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    font-family: var(--ff);

    button {
            border: none;
            padding: 13px 30px;
            border-radius: 999px;
            color: var(--white);
            font-weight: 800;
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.7);
            transition: 350ms;
            border: 2px solid transparent;
        }

        .green {
            background-color: var(--green-500);

            &:hover {
                background-color: var(--white);
                color: var(--green-500);
                border: 2px solid var(--green-500);
                transform: scale(1.03);
            }
        }

        .blue {
            background-color: var(--blue-100);

            &:hover {
                background-color: var(--white);
                color: var(--blue-100);
                border: 2px solid var(--blue-100);
                transform: scale(1.03);
            }
        }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 90px 100px;

    img {
        width: 90px;
        height: 90px;
        margin-bottom: 3rem;
    }

    h1 {
        color: var(--gray-700);
        font-size: 40px;
        padding-bottom: 16px;
    }

    p {
        color: var(--gray-500);
        text-align: center;
        padding-bottom: 16px;
    }

    .botoes {
        display: flex;
        gap: 16px;
    }
}

main {
    .sect-1 {
        margin-bottom: 4rem;
        text-align: center;
        p {
            text-align: center;
        }
    }
}